table, th, td {
        margin: 100px auto;
        font-size: 20pt;
        padding: 20px;
        border-radius: 10px;
}

.selecthotels {
        vertical-align: middle;
        text-align: center;
}

th {
        background-color: #1db565;
}

td {
        background-color: #3a5cbf;
}

.container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}

.container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
}

.checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
}

.container:hover input ~ .checkmark {
        background-color: #ccc;
}

.container input:checked ~ .checkmark {
        background-color: #2196F3;
}

.checkmark:after {
        content: "";
        position: absolute;
        display: none;
}

.container input:checked ~ .checkmark:after {
        display: block;
}

.container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
}

.confirmhotel {
        display: block;
        margin: 30px auto;
        border-radius: 15px;
        border: 2px solid #000;
        background-color: #66b2ff;
        margin-top: -40px;
        margin-bottom: 70px;
        font-size: 20pt;
        padding: 15pt;
}
